# dependencies
node_modules/

# Vite production build
dist/

# environment files
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/